* {
  box-sizing: border-box;
}


$distancia-menu-nav: 7px 16px;
$padding-left-pag: 100px;
$color-principal: #1445b3;
$color-secondary: #004a99;
$font-titles: 'Montserrat', sans-serif;
$text-centred: center;



@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');



body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

/*************** HEADER ************/

nav {
  display: flex;
  justify-content: space-between;
  
  .logo {
    padding: $distancia-menu-nav;
    
    img {
      max-height: 26px;
      margin: 15px 0;
      padding-left: $padding-left-pag;
    }   
    
  }
}



.menu-nav {
  
  ul {
    list-style: none;
    display: flex;
     
    li {
      
      padding: $distancia-menu-nav;
       
      a {
        display: block;
        color: #004289;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        padding: $distancia-menu-nav;
        transition: 0.3s;        
             

      }      
    }
  }        
}


/******************* MAIN *******************/

h1 {
  font-size: 36px;
  font-weight: 500;
}

P {
  line-height: 26px;
}
#main {
  display: flex;
  background-color: $color-principal;
  padding: 50px;

  .info-intro {
    display: flex;
    flex-direction: column;
       
    div h2 {
      color: #fff;
      font-family: $font-titles;
      margin-bottom: 40px;
      font-size: 48px;
      font-weight: 800;
           
      span {
        color: #74b5fc;
        text-decoration: underline;
                       
      }  
    }
  }      
}


.img-intro img {
  display: flex;
  width: 50%;
  height: auto;
}


/*********** ABOUT US ************/


#about {
    
  .container {
    display: flex;
    flex-direction: column;
    
    .titulo {  
      color: #283d50;
      font-family: $font-titles;
      text-align: $text-centred;
      margin: 0px, 0, 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: $text-centred;
    
      .titulo p {      
        font-size: 15px;
        padding-bottom: 60px;
        color: #556877;
        width: 50%;
        
      }
    } 
  }
}


.box-1 {
  display: flex;
  flex-direction: row;
  margin: 60px;
  padding-left: 15px;
  padding-right: 15px;
    
  .box-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px;

    .box-icon .icon{
     display: flex;
     flex-direction: column;
     
    }
  }
}

.img-about {  
  img {
    height: auto;
    width: 100%;  
  }
}



/****************** WHY CHOOSE US?*******************/

.choose {
  background-color: $color-secondary;
  padding: 60px 0;
    
  div h2 {
    font-family: $font-titles;
    font-size: 36px;
    text-align: $text-centred;
    font-weight: 500;   
     
  }

  p {
    text-align: $text-centred;
    font-size: 15px;
  }

  .container-cards {
    display: flex;
    justify-content: center;
    align-items: center;

    .cards-choose {
      background-color: #00458f;
      height: 300px;
      width: 250px;
      margin: 50px;
      text-align: $text-centred;
      font-size: 14px;
      
      p {
        font-size: 12px;
      }
    }
  }
}

