
$distancia-menu-nav: 7px 16px;
$padding-left-pag: 100px;
$color-principal: #1445b3;
$font-principal: 'Montserrat', sans-serif;
$text-center: center;



@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');




body {
  margin: 0;
}

/*************** HEADER ************/

nav {
  display: flex;
  justify-content: space-between;
  
  .logo {
    padding: $distancia-menu-nav;
    
    img {
      max-height: 26px;
      margin: 15px 0;
      padding-left: $padding-left-pag;
    }   
    
  }
}



.menu-nav {
  
  ul {
    list-style: none;
    display: flex;
     
    li {
      
      padding: $distancia-menu-nav;
       
      a {
        display: block;
        color: #004289;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        padding: $distancia-menu-nav;
        transition: 0.3s;        
        font-family: $font-principal; 
       

      }      
    }
  }        
}


/******************* MAIN *******************/

h1 {
  font-size: 36px;
  font-weight: 500;
}

P {
  font-family: $font-principal;
  line-height: 26px;
}
#main {
  display: flex;
  background-color: $color-principal;
  padding: 50px;

  .info-intro {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    
    div h2 {
      color: #fff;
      margin-bottom: 40px;
      font-size: 48px;
      font-weight: 800;
           
      span {
        color: #74b5fc;
        text-decoration: underline;
               
      }  
    }
  }      
}


.img-intro img {
  display: flex;
  width: 50%;
  height: auto;
}


/*********** ABOUT US ************/


#about {
  font-family: $font-principal;
  
  .container {
    display: flex;
    flex-direction: column;
    
    .titulo {  
      color: #283d50;
      text-align: $text-center;
      margin: 0px, 0, 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: $text-center;
    
      .titulo p {      
        font-size: 15px;
        padding-bottom: 60px;
        color: #556877;
        width: 50%;
        
      }
    } 
  }
}


.box-1 {
  display: flex;
  flex-direction: row;
  margin: 60px;
  padding-left: 15px;
  padding-right: 15px;
    
  .box-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px;

    .box-icon .icon{
     display: flex;
     flex-direction: column;
     
    }
  }
}

.img-about {  
  img {
    height: auto;
    width: 100%;  
  }
}

