@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff; }

/*************** HEADER ************/
nav {
  display: flex;
  justify-content: space-between; }
  nav .logo {
    padding: 7px 16px; }
    nav .logo img {
      max-height: 26px;
      margin: 15px 0;
      padding-left: 100px; }

.menu-nav ul {
  list-style: none;
  display: flex; }
  .menu-nav ul li {
    padding: 7px 16px; }
    .menu-nav ul li a {
      display: block;
      color: #004289;
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      padding: 7px 16px;
      transition: 0.3s; }

/******************* MAIN *******************/
h1 {
  font-size: 36px;
  font-weight: 500; }

P {
  line-height: 26px; }

#main {
  display: flex;
  background-color: #1445b3;
  padding: 50px; }
  #main .info-intro {
    display: flex;
    flex-direction: column; }
    #main .info-intro div h2 {
      color: #fff;
      font-family: "Montserrat", sans-serif;
      margin-bottom: 40px;
      font-size: 48px;
      font-weight: 800; }
      #main .info-intro div h2 span {
        color: #74b5fc;
        text-decoration: underline; }

.img-intro img {
  display: flex;
  width: 50%;
  height: auto; }

/*********** ABOUT US ************/
#about .container {
  display: flex;
  flex-direction: column; }
  #about .container .titulo {
    color: #283d50;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    margin: 0px, 0, 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    #about .container .titulo .titulo p {
      font-size: 15px;
      padding-bottom: 60px;
      color: #556877;
      width: 50%; }

.box-1 {
  display: flex;
  flex-direction: row;
  margin: 60px;
  padding-left: 15px;
  padding-right: 15px; }
  .box-1 .box-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 60px; }
    .box-1 .box-icon .box-icon .icon {
      display: flex;
      flex-direction: column; }

.img-about img {
  height: auto;
  width: 100%; }

/****************** WHY CHOOSE US?*******************/
.choose {
  background-color: #004a99;
  padding: 60px 0; }
  .choose div h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    text-align: center;
    font-weight: 500; }
  .choose p {
    text-align: center;
    font-size: 15px; }
  .choose .container-cards {
    display: flex;
    justify-content: center;
    align-items: center; }
    .choose .container-cards .cards-choose {
      background-color: #00458f;
      height: 300px;
      width: 250px;
      margin: 50px;
      text-align: center;
      font-size: 14px; }
      .choose .container-cards .cards-choose p {
        font-size: 12px; }
